html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    background-color: whitesmoke;
}

#outer-body {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;
    width: 300px;
    gap: 8px;
    padding: 16px;
    background-color: grey;
}

#outer-body > div {
    flex: 1;
    /*border: 1px solid black;*/
    display: flex;
    gap: 8px;
}

button {
    flex: 1;
    cursor: pointer;
    border-radius: 4px;
    background-color: lightseagrey;
    font-size: 24px;
}

button.two-thirds {
    flex: 2.37;
}

#equals {
    background-color: salmon;
}

#display {
    font-size: 32px;
    justify-content: flex-end;
    align-items: center;
    border: 0.5px solid black;
    background-color: lightgrey;
}

